@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');


* {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  margin: 0;
}

.container {
  width: 95%;
  margin: auto;
}

h1 {
  font-weight: 700;
  font-size: 70px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  color: lightcyan;
}

body {
  background-color: seagreen;
}

header {
  border-bottom: 2px solid white;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 10px;
}

.search-box {
  position: relative;
  width: max-content;
  padding-top: 20px;
}

.search-box input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  border-radius: 20px;
  outline: none;
  color: rgb(21, 21, 21);

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid wheat;

}

input:focus {
  box-shadow: 0 0 5px lightgreen;
  border: 1px solid lightgreen;
}

.search-box i {
  position: absolute;
  top: 40%;
  right: 5%;
  color: seagreen;
  transition: 1.5s;
}

.search-box i:hover {
  color: lightgreen;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.img {
  width: 380px;
  height: 200px;
  margin-top: 15px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 2px;
}

@media(max-width:768px) {
  .img {
    width:100%
  }
  .nav {
    justify-content: center;
  }
  .nav h2 {
    padding: 5px 0;
  }
}

@media(max-width:480px) {
  .nav {
    text-align: center;
    font-size: 1.5rem;
  }
  .search-box {
    width: 80%;
    margin: auto;
  }

  .search-box input {
    font-size: .7rem;
  }
}